In [2]:
import pandas as pd

In [24]:
df = pd.read_excel("reviews_removed_duplicates.xlsx")
df.drop(['user', 'page_url', 'date_scraped', 'source', 'attraction'], axis=1, inplace=True)
df

      date  rating                                             review
0     2020      10  Universal Studio Singapore yang berada di Pula...
1     2019      10  cukup beruntung hanya membeli tiket biasa dapa...
2     2019      10  Tempat liburan keluarga yang sangat menarik un...
3     2020      10  Beli tiketnya via OTA dan kebetulan sudah prin...
4     2020      10  Jalan jalan bareng si kecil, emang menyenangka...
...    ...     ...                                                ...
3123  2020      10                            Sukses selalu Singapura
3124  2020      10                                     Tempat e asyik
3125  2016       8              Keren bgt...♥Q sdh pernh dtng ke sana
3126  2019      10                                              Bagus
3127  2019      10                                      Seneng banget

[3128 rows x 3 columns]

In [25]:
df_2018 = df[df['date'] == 2018]

In [26]:
df_2018.drop('date', axis=1, inplace=True)

C:\Users\Luqman\AppData\Local\Temp/ipykernel_15536/3584031657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018.drop('date', axis=1, inplace=True)

In [20]:
df_2018

                                                 review
7     So fun!.Tempat ini memiliki banyak wahana yang...
16    Kalau sudah urusan dunia fantasi, play ground ...
17    Pertama kali diajak ke Universal Studio saya a...
21    Universal studio singapore tempat yang harus k...
23    Datang saat hari kerja adalah salah satu kunci...
...                                                 ...
3102                         Mahal dan tempat nya panas
3105              Woooow ... tempat liburan dan hiburan
3106                                              Keren
3109                      Senang liat anak saya bahagia
3115                      Wahana permainan yang lengkap

[278 rows x 1 columns]

In [27]:
df_2018.to_excel("2018ussreview.xlsx", index=False)