In [4]:
from clean import combine_csv, filter_date
import pandas as pd

In [ ]:
combine_csv("c:\\Users\\Luqman\\Desktop\\Guest-Feedback-Insights\\data-scrapping\\tripadvisor\\data\\raw")

In [3]:
filter_date("data/raw/combined_reviews.csv", 2018)

Number of rows: 158

In [11]:
df = pd.read_csv('data/clean/filtered_2018plus.csv')

In [12]:
df = df.drop(axis=1, columns=['user', 'source'])

In [13]:
df.head()

,date,review,attraction
0,2018-07-01,Adventure Cove tempat yang bagus di kunjungi p...,Adventure Cove Waterpark
1,2019-11-01,mengunjungi sentosa island setelah dari sea ak...,Madame Tussauds
2,2019-12-01,Merupakan pengalaman pertama berkunjung ke Mad...,Madame Tussauds
3,2020-02-01,"Beli tiket via OTA, tenyata itu tiket 4 in 1. ...",Madame Tussauds
4,2019-09-01,Merupakan tempat museum patung lilin selebriti...,Madame Tussauds

In [19]:
df['review'] = df['review'].apply(lambda x: x.replace("\n", " "))

In [28]:
df.to_csv( "data/clean/test.csv", index=False, encoding='utf-8-sig')

In [ ]:
query = 'Atraksi ini patut anda saksikan. Saya dtang kesini dgn istri & anak saya 2,5 thn. Berada di sentosa IsLand, Dari vivo city anda bisa naik sky train dgn ckup membayar 4$gd kLo tdak saLah /org (sudah pp, bsa turun dimna saja naik Lg). turunLah di beach station. Oiya, jika tdak saLah 2013 LaLu saya ke spore namanya Song of the sea, bukan Wings of time. Saya masuk ke daLam meLaLui gate 5, saya pikir tidak akan rame, ternyata yg nonton ramai sekaLi. Bahkan ada deretan bangku yg tertuLis "RESERVED".  Ini pertunjukkan yg keren bgt,,,atraksi dgn perpaduan suara, air mancur,dan Laser yg bercahaya.'
querywords = query.split()

resultwords  = [word for word in querywords if word.lower() not in stopwords]
result = ' '.join(resultwords)

print(result)