In [1]:
from clean import filter_date
import pandas as pd

In [ ]:
# Filter only 2018 to current
filter_date("data/raw/combined_reviews.csv", 2018)

In [22]:
df = pd.read_csv('data/clean/filtered_2018plus.csv').drop(axis=1, columns=['user', 'source', 'attraction'])

In [23]:
df.head()

         date                                             review
0  2018-07-01  Adventure Cove tempat yang bagus di kunjungi p...
1  2019-11-01  mengunjungi sentosa island setelah dari sea ak...
2  2019-12-01  Merupakan pengalaman pertama berkunjung ke Mad...
3  2020-02-01  Beli tiket via OTA, tenyata itu tiket 4 in 1. ...
4  2019-09-01  Merupakan tempat museum patung lilin selebriti...

In [4]:
import translators as ts
ts._google.language_map

Using Singapore server backend.

In [24]:
# Remove newlines
df['review'] = df['review'].apply(lambda x: x.replace("\n", " ").strip())

In [27]:
df['english_review'] = df['review'].apply(lambda x: ts.google(x, from_language='auto', to_language='en'))

df

,date,review,english_review
0,2018-07-01,Adventure Cove tempat yang bagus di kunjungi p...,Adventure Cove a good place to visit when to S...
1,2019-11-01,mengunjungi sentosa island setelah dari sea ak...,"Visiting Sentosa Island after SEA aquarium, do..."
2,2019-12-01,Merupakan pengalaman pertama berkunjung ke Mad...,Is the first experience of visiting Madame Tus...
3,2020-02-01,"Beli tiket via OTA, tenyata itu tiket 4 in 1. ...","Buy tickets via OTA, it turns out that the tic..."
4,2019-09-01,Merupakan tempat museum patung lilin selebriti...,Is a place for the Celebrity Wax Statue Museum...
...,...,...,...
153,2018-02-01,Singapore universal studio sangat rekomended u...,Singapore Universal Studio is highly recommend...
154,2018-02-01,Universal studio number one at singapura. Dest...,Universal Studio Number One at Singapore. The ...
155,2019-01-01,Alur cerita tentang anak kecil. Walaupun begit...,Storyline about small children. Even so the sh...
156,2018-09-01,Atraksi ini patut anda saksikan. Saya dtang ke...,This attraction is worth watching. I came here...
157,2018-03-01,Patut dikunjungi dan di tonton! Dengan keunik...,Worth visiting and watching! With the uniquene...

In [33]:
df.to_csv('data/clean/translated_review.csv',index=False)