# How to run on Nvidia DGX Server
Note: Change device to your own allocation and change foldername to your own folder name
1. docker run -it --gpus '"device=6:1"' -p 8837:8888 -v ~/foldername:/workspace luqman_tf_capstone
2. jupyter lab
3. Open tunneling to 8837
4. In browser, localhost:8837
5. Copy paste token in link after "=" (http://hostname:8888/?token=8432d328f5b6d6ecabcffdd4f5a586a78775352442fd26af)

# HuggingFace Model - sahri/indonesiasentiment

In [3]:
from transformers import pipeline

In [6]:
pretrained_name = "sahri/indonesiasentiment"

In [7]:
nlp = pipeline("sentiment-analysis",
              model=pretrained_name,
              tokenizer=pretrained_name)

In [10]:
test1 = nlp("tidak jelek tapi keren")
test1

[{'label': 'positive', 'score': 0.9905287623405457}]

In [13]:
test1[0]['label']

'positive'

# Function

In [14]:
def sentiment_analysis_label(text):
    '''
    Sentiment analysis labelling
    0 - positive
    1 - neutral
    -1 - negative
    '''
    output = nlp(text)
    if output[0]['label'] == 'positive':
        label = 0
    elif output[0]['label'] == 'neutral':
        label = 1
    else:
        label = -1
    return label

In [43]:
def sentiment_analysis_score(text):
    '''
    Return sentiment analysis score
    '''
    output = nlp(text)
    return round(output[0]['score'], 3)

# Test on TripAdvisor review

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("replaced_slang.csv")
df.head(10)

,date,review,attraction,replaced_slang
0,7/1/2018,Adventure Cove tempat yang bagus di kunjungi p...,Adventure Cove Waterpark,adventure cove tempat yang bagus di kunjungi p...
1,11/1/2019,mengunjungi sentosa island setelah dari sea ak...,Madame Tussauds,mengunjungi sentosa island setelah dari sea ak...
2,12/1/2019,Merupakan pengalaman pertama berkunjung ke Mad...,Madame Tussauds,merupakan pengalaman pertama berkunjung ke mad...
3,2/1/2020,"Beli tiket via OTA, tenyata itu tiket 4 in 1. ...",Madame Tussauds,"beli tiket via ota , tenyata itu tiket 4 in 1...."
4,9/1/2019,Merupakan tempat museum patung lilin selebriti...,Madame Tussauds,merupakan tempat museum patung lilin selebriti...
5,2/1/2019,Lokasi Madam Tussaud terletak dekat dengan pat...,Madame Tussauds,lokasi madam tussaud terletak dekat dengan pat...
6,12/1/2018,Pertama kali ke madam tussaud singapore dan ke...,Madame Tussauds,pertama kali ke madam tussaud singapore dan ke...
7,2/1/2018,Menyenangkan sekali berkunjung ke madame tussa...,Madame Tussauds,menyenangkan sekali berkunjung ke madame tussa...
8,1/1/2018,Saya suka sekali masuk kedalam museum ini. Bel...,Madame Tussauds,saya suka sekali masuk kedalam museum ini . be...
9,1/1/2018,Tempat yang menarik untuk dikunjungi. Untungny...,Madame Tussauds,tempat yang menarik untuk dikunjungi . untungn...

In [46]:
df['sentiment'] = df['replaced_slang'].apply(sentiment_analysis_label)

In [47]:
df.head()

,date,review,attraction,replaced_slang,sentiment
0,7/1/2018,Adventure Cove tempat yang bagus di kunjungi p...,Adventure Cove Waterpark,adventure cove tempat yang bagus di kunjungi p...,0
1,11/1/2019,mengunjungi sentosa island setelah dari sea ak...,Madame Tussauds,mengunjungi sentosa island setelah dari sea ak...,0
2,12/1/2019,Merupakan pengalaman pertama berkunjung ke Mad...,Madame Tussauds,merupakan pengalaman pertama berkunjung ke mad...,0
3,2/1/2020,"Beli tiket via OTA, tenyata itu tiket 4 in 1. ...",Madame Tussauds,"beli tiket via ota , tenyata itu tiket 4 in 1....",0
4,9/1/2019,Merupakan tempat museum patung lilin selebriti...,Madame Tussauds,merupakan tempat museum patung lilin selebriti...,0

In [48]:
df['sentiment'].value_counts(ascending=False)

0    151
1      7
Name: sentiment, dtype: int64

In [49]:
df['score'] = df['replaced_slang'].apply(sentiment_analysis_score)

In [50]:
df.head(10)

,date,review,attraction,replaced_slang,sentiment,score
0,7/1/2018,Adventure Cove tempat yang bagus di kunjungi p...,Adventure Cove Waterpark,adventure cove tempat yang bagus di kunjungi p...,0,0.997
1,11/1/2019,mengunjungi sentosa island setelah dari sea ak...,Madame Tussauds,mengunjungi sentosa island setelah dari sea ak...,0,0.999
2,12/1/2019,Merupakan pengalaman pertama berkunjung ke Mad...,Madame Tussauds,merupakan pengalaman pertama berkunjung ke mad...,0,0.998
3,2/1/2020,"Beli tiket via OTA, tenyata itu tiket 4 in 1. ...",Madame Tussauds,"beli tiket via ota , tenyata itu tiket 4 in 1....",0,0.992
4,9/1/2019,Merupakan tempat museum patung lilin selebriti...,Madame Tussauds,merupakan tempat museum patung lilin selebriti...,0,0.621
5,2/1/2019,Lokasi Madam Tussaud terletak dekat dengan pat...,Madame Tussauds,lokasi madam tussaud terletak dekat dengan pat...,0,0.988
6,12/1/2018,Pertama kali ke madam tussaud singapore dan ke...,Madame Tussauds,pertama kali ke madam tussaud singapore dan ke...,0,0.962
7,2/1/2018,Menyenangkan sekali berkunjung ke madame tussa...,Madame Tussauds,menyenangkan sekali berkunjung ke madame tussa...,0,0.999
8,1/1/2018,Saya suka sekali masuk kedalam museum ini. Bel...,Madame Tussauds,saya suka sekali masuk kedalam museum ini . be...,0,0.999
9,1/1/2018,Tempat yang menarik untuk dikunjungi. Untungny...,Madame Tussauds,tempat yang menarik untuk dikunjungi . untungn...,0,0.997

In [51]:
df.to_csv("sentiment_analysis.csv", index=False)