In [1]:
! pip install translators --upgrade

Collecting translators
  Downloading translators-5.0.2-py3-none-any.whl (23 kB)
Collecting loguru>=0.6.0
  Downloading loguru-0.6.0-py3-none-any.whl (58 kB)
Requirement already satisfied: lxml>=4.8.0 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from translators) (4.8.0)
Requirement already satisfied: requests>=2.27.1 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from translators) (2.27.1)
Collecting PyExecJS>=1.5.1
  Downloading PyExecJS-1.5.1.tar.gz (13 kB)
Collecting pathos>=0.2.8
  Downloading pathos-0.2.8-py2.py3-none-any.whl (81 kB)
Collecting win32-setctime>=1.0.0
  Downloading win32_setctime-1.1.0-py3-none-any.whl (3.6 kB)
Requirement already satisfied: colorama>=0.3.4 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from loguru>=0.6.0->translators) (0.4.4)
Collecting ppft>=1.6.6.4
  Downloading ppft-1.6.6.4-py3-none-any.whl (65 kB)
Collecting dill>=0.3.4
  Downloading dill-0.3.4-py2.py3-none-any.whl (86 kB)
Collecting pox>=0.3.0
  Downloading pox-0.3.0-py2.py3-none-any.whl (30 kB)
Collecting multiprocess>=0.70.12
  Downloading multiprocess-0.70.12.2-py38-none-any.whl (128 kB)
Requirement already satisfied: six>=1.7.3 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from ppft>=1.6.6.4->pathos>=0.2.8->translators) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from requests>=2.27.1->translators) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from requests>=2.27.1->translators) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from requests>=2.27.1->translators) (2.0.10)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kilve\anaconda3\envs\deepl\lib\site-packages (from requests>=2.27.1->translators) (3.3)
Building wheels for collected packages: PyExecJS
  Building wheel for PyExecJS (setup.py): started
  Building wheel for PyExecJS (setup.py): finished with status 'done'
  Created wheel for PyExecJS: filename=PyExecJS-1.5.1-py3-none-any.whl size=14598 sha256=6452509bc632a11ca7c431c8c455a4773921bccd26b09b06ef6a1323b900d310
  Stored in directory: c:\users\kilve\appdata\local\pip\cache\wheels\db\3c\3d\7e9aca234caf6602ae4a4c7b367b3afc03519e791b998a94e4
Successfully built PyExecJS
Installing collected packages: dill, win32-setctime, ppft, pox, multiprocess, PyExecJS, pathos, loguru, translators
Successfully installed PyExecJS-1.5.1 dill-0.3.4 loguru-0.6.0 multiprocess-0.70.12.2 pathos-0.2.8 pox-0.3.0 ppft-1.6.6.4 translators-5.0.2 win32-setctime-1.1.0

In [1]:
import translators as ts
ts._google.language_map

Using Singapore server backend.

In [6]:
import pandas as pd

df=pd.read_excel('geo location 2019.xlsx')  

df

,Datetime,Tweet Id,Text,Username
0,2019-12-31 17:27:32,1.212063e+18,Aku dan temen tapi ada rasa mengucapkan happy ...,banteths
1,2019-12-31 17:21:57,1.212061e+18,Aku dan temen2 paudQ mengucapkan selamat Tahun...,banteths
2,2019-12-31 17:13:57,1.212059e+18,Aku dan temen genk motorQ mengucapkan Selamat ...,banteths
3,2019-12-31 17:02:38,1.212056e+18,Terimakasih sudah menjadi penutup 2019ku yang ...,noviputrii25
4,2019-12-31 16:40:10,1.212051e+18,Bye 2019 ‚Üî Welcome 2020 üíï\n.\nSemoga kita semu...,Vinnasaragi13
...,...,...,...,...
1052,2019-01-02 08:04:05,1.080374e+18,@susipudjiastuti salam bu,Yudi70117508
1053,2019-01-01 11:01:24,1.080056e+18,Coba liat-liat peluang mana tahu ada lokasi bi...,Zulkifli_H
1054,2019-01-01 07:31:00,1.080003e+18,Big Merlion.\n#merlion \n#sentosaisland \n#sin...,AKKEY52147106
1055,2019-01-01 06:57:15,1.079995e+18,ü§òü§ôüèΩ üá∏üá¨ #singapore 01.01.19 ph zlateshka üòâü§ôüèΩ...,Lex_Kors1n
1056,2019-01-01 03:14:31,1.079939e+18,Mimpiku besar \ndan aku harap aku bisa mewujud...,rosiFJP

In [7]:
text_col = pd.DataFrame(df, columns = ['Text'])

text_col

                                                   Text
0     Aku dan temen tapi ada rasa mengucapkan happy ...
1     Aku dan temen2 paudQ mengucapkan selamat Tahun...
2     Aku dan temen genk motorQ mengucapkan Selamat ...
3     Terimakasih sudah menjadi penutup 2019ku yang ...
4     Bye 2019 ‚Üî Welcome 2020 üíï\n.\nSemoga kita semu...
...                                                 ...
1052                          @susipudjiastuti salam bu
1053  Coba liat-liat peluang mana tahu ada lokasi bi...
1054  Big Merlion.\n#merlion \n#sentosaisland \n#sin...
1055  ü§òü§ôüèΩ  üá∏üá¨  #singapore  01.01.19 ph zlateshka üòâü§ôüèΩ...
1056  Mimpiku besar \ndan aku harap aku bisa mewujud...

[1057 rows x 1 columns]

In [8]:
text_col['english_text'] = text_col['Text'].apply(lambda x: ts.google(x, from_language='id', to_language='en'))

text_col

,Text,english_text
0,Aku dan temen tapi ada rasa mengucapkan happy ...,Me and friends but there is a sense of saying ...
1,Aku dan temen2 paudQ mengucapkan selamat Tahun...,Me and my friends say happy new year 2020! # H...
2,Aku dan temen genk motorQ mengucapkan Selamat ...,Me and friends Genk Motorq wish you a happy ne...
3,Terimakasih sudah menjadi penutup 2019ku yang ...,Thank you for being the closing of my beautifu...
4,Bye 2019 ‚Üî Welcome 2020 üíï\n.\nSemoga kita semu...,BYE 2019 ‚Üî WELCOME 2020 üíï \n . \n Hopefully we...
...,...,...
1052,@susipudjiastuti salam bu,@Susipudjiastuti greetings Bu.
1053,Coba liat-liat peluang mana tahu ada lokasi bi...,Try to see opportunities where you know there ...
1054,Big Merlion.\n#merlion \n#sentosaisland \n#sin...,Big Merlion. \n #Merlion \n #sentosaisland. \n...
1055,ü§òü§ôüèΩ üá∏üá¨ #singapore 01.01.19 ph zlateshka üòâü§ôüèΩ...,ü§òü§ôüèΩ üá∏üá¨ #Singapore 01.01.19 PH Zlateshka üòâü§ôüèΩ @ ...
1056,Mimpiku besar \ndan aku harap aku bisa mewujud...,Mimpikiku Besar \n and I hope I can make it ha...

In [9]:
text_col.to_excel('translated.xlsx', sheet_name='sheet1', index=False)