In [1]:
! pip3 install snscrape

Collecting snscrape
  Downloading snscrape-0.4.3.20220106-py3-none-any.whl (59 kB)
Requirement already satisfied: pytz in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (2021.3)
Collecting lxml
  Downloading lxml-4.8.0-cp38-cp38-win_amd64.whl (3.6 MB)
Requirement already satisfied: filelock in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: beautifulsoup4 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (4.10.0)
Requirement already satisfied: requests[socks] in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (1.26.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: lxml, snscrape
Successfully installed lxml-4.8.0 snscrape-0.4.3.20220106

In [14]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('geocode:1.2494,103.8303,2km lang:id since:2019-01-01 until:2020-01-01').get_items()):
    if i>5000:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# sample search string
# sentosa (#sentosa) lang:id since:2022-01-01 until:2022-03-31'
# https://github.com/igorbrigadir/twitter-advanced-search
# https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/geo#place

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [15]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2019-12-31 17:27:32+00:00,1212062746663104514,Aku dan temen tapi ada rasa mengucapkan happy ...,banteths
1,2019-12-31 17:21:57+00:00,1212061339906191360,Aku dan temen2 paudQ mengucapkan selamat Tahun...,banteths
2,2019-12-31 17:13:57+00:00,1212059327609094144,Aku dan temen genk motorQ mengucapkan Selamat ...,banteths
3,2019-12-31 17:02:38+00:00,1212056479617806337,Terimakasih sudah menjadi penutup 2019ku yang ...,noviputrii25
4,2019-12-31 16:40:10+00:00,1212050824475615232,Bye 2019 ↔ Welcome 2020 💕\n.\nSemoga kita semu...,Vinnasaragi13
...,...,...,...,...
1048,2019-01-02 08:04:05+00:00,1080374154447081473,@susipudjiastuti salam bu,Yudi70117508
1049,2019-01-01 11:01:24+00:00,1080056390855675905,Coba liat-liat peluang mana tahu ada lokasi bi...,Zulkifli_H
1050,2019-01-01 07:31:00+00:00,1080003440510554112,Big Merlion.\n#merlion \n#sentosaisland \n#sin...,AKKEY52147106
1051,2019-01-01 06:57:15+00:00,1079994946990624770,🤘🤙🏽 🇸🇬 #singapore 01.01.19 ph zlateshka 😉🤙🏽...,Lex_Kors1n
1052,2019-01-01 03:14:31+00:00,1079938896291602433,Mimpiku besar \ndan aku harap aku bisa mewujud...,rosiFJP

In [16]:
removed_tzone=tweets_df2
# remove time zonne as excel cannot handle time zone
removed_tzone['Datetime'] = removed_tzone['Datetime'].dt.tz_localize(None)

removed_tzone

,Datetime,Tweet Id,Text,Username
0,2019-12-31 17:27:32,1212062746663104514,Aku dan temen tapi ada rasa mengucapkan happy ...,banteths
1,2019-12-31 17:21:57,1212061339906191360,Aku dan temen2 paudQ mengucapkan selamat Tahun...,banteths
2,2019-12-31 17:13:57,1212059327609094144,Aku dan temen genk motorQ mengucapkan Selamat ...,banteths
3,2019-12-31 17:02:38,1212056479617806337,Terimakasih sudah menjadi penutup 2019ku yang ...,noviputrii25
4,2019-12-31 16:40:10,1212050824475615232,Bye 2019 ↔ Welcome 2020 💕\n.\nSemoga kita semu...,Vinnasaragi13
...,...,...,...,...
1048,2019-01-02 08:04:05,1080374154447081473,@susipudjiastuti salam bu,Yudi70117508
1049,2019-01-01 11:01:24,1080056390855675905,Coba liat-liat peluang mana tahu ada lokasi bi...,Zulkifli_H
1050,2019-01-01 07:31:00,1080003440510554112,Big Merlion.\n#merlion \n#sentosaisland \n#sin...,AKKEY52147106
1051,2019-01-01 06:57:15,1079994946990624770,🤘🤙🏽 🇸🇬 #singapore 01.01.19 ph zlateshka 😉🤙🏽...,Lex_Kors1n
1052,2019-01-01 03:14:31,1079938896291602433,Mimpiku besar \ndan aku harap aku bisa mewujud...,rosiFJP

In [24]:
# for name, values in removed_tzone["Text"].iteritems():
#     print(values)
import demoji
# test_tweet = removed_tzone["Text"]
# test_tweet
n=0
for v in removed_tzone["Text"]:
    raw_tweet = str(v)
    tweet_removed_emoji = demoji.replace_with_desc(raw_tweet)
    removed_tzone.loc[n,"Text"] = tweet_removed_emoji
    n+=1

In [25]:
removed_tzone

,Datetime,Tweet Id,Text,Username
0,2019-12-31 17:27:32,1212062746663104514,Aku dan temen tapi ada rasa mengucapkan happy ...,banteths
1,2019-12-31 17:21:57,1212061339906191360,Aku dan temen2 paudQ mengucapkan selamat Tahun...,banteths
2,2019-12-31 17:13:57,1212059327609094144,Aku dan temen genk motorQ mengucapkan Selamat ...,banteths
3,2019-12-31 17:02:38,1212056479617806337,Terimakasih sudah menjadi penutup 2019ku yang ...,noviputrii25
4,2019-12-31 16:40:10,1212050824475615232,Bye 2019 :left-right arrow: Welcome 2020 :two ...,Vinnasaragi13
...,...,...,...,...
1048,2019-01-02 08:04:05,1080374154447081473,@susipudjiastuti salam bu,Yudi70117508
1049,2019-01-01 11:01:24,1080056390855675905,Coba liat-liat peluang mana tahu ada lokasi bi...,Zulkifli_H
1050,2019-01-01 07:31:00,1080003440510554112,Big Merlion.\n#merlion \n#sentosaisland \n#sin...,AKKEY52147106
1051,2019-01-01 06:57:15,1079994946990624770,:sign of the horns::call me hand: medium skin ...,Lex_Kors1n
1052,2019-01-01 03:14:31,1079938896291602433,Mimpiku besar \ndan aku harap aku bisa mewujud...,rosiFJP

In [26]:
tweetid= removed_tzone['Tweet Id']

removed_tzone.to_excel('tweets wo emoji.xlsx', sheet_name='sheet1', index=False)
tweetid.to_csv('tweetsID wo emoji.csv', index=False)