In [1]:
! pip3 install snscrape

Collecting snscrape
  Downloading snscrape-0.4.3.20220106-py3-none-any.whl (59 kB)
Requirement already satisfied: pytz in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (2021.3)
Collecting lxml
  Downloading lxml-4.8.0-cp38-cp38-win_amd64.whl (3.6 MB)
Requirement already satisfied: filelock in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: beautifulsoup4 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (4.10.0)
Requirement already satisfied: requests[socks] in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from snscrape) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (1.26.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\kelvin\miniconda3\envs\comv\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: lxml, snscrape
Successfully installed lxml-4.8.0 snscrape-0.4.3.20220106

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('geocode:1.2494,103.8303,2km lang:id since:2020-01-01 until:2021-01-01').get_items()):
    if i>5000:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# sample search string
# sentosa (#sentosa) lang:id since:2022-01-01 until:2022-03-31'
# https://github.com/igorbrigadir/twitter-advanced-search
# https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/geo#place

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [2]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2020-12-28 11:18:09+00:00,1343516584480915457,Baru jumpa line. Hahahahah,ajibkiddo
1,2020-12-25 07:28:37+00:00,1342371655469830144,"Alhamdulillah berkesempatan hari nie, rindu ka...",syaufeharriz
2,2020-12-22 07:14:52+00:00,1341281033057169409,"Selamat Hari Ibu, BU JEANNE ‚ô•Ô∏è @ Madame Tussau...",fabimanjoe
3,2020-12-22 04:37:23+00:00,1341241399975374848,sosuke yamazaki i am @ ur store https://t.co/z...,ERWYSMITH
4,2020-12-17 02:52:36+00:00,1339403090810834951,Baru saja mengirim foto @ Hard Rock Hotel Sing...,LiburWeekend
...,...,...,...,...
243,2020-01-02 08:40:10+00:00,1212654804620591105,"Muka lawan suhu 15¬∞. Sejuk biasa¬≤ ja nie, dulu...",momo_roro15
244,2020-01-01 15:57:09+00:00,1212402388524384256,Selamat tahun baru MMXX @ Universal Studio Sin...,izzulf_ismail
245,2020-01-01 07:41:57+00:00,1212277766382587904,Takpayah azam azam lah. Sebab tadi aku tanya d...,ZalAnnas
246,2020-01-01 03:07:13+00:00,1212208626837929984,Ayuhhhhh!! (@ Sentosa Station in Singapore) ht...,amazingsyathiri
247,2020-01-01 00:28:40+00:00,1212168727690498049,üìç Happy New year 2020 üéâ\n.\nHi 2019 Thankssss ...,ziafmihar

In [3]:
removed_tzone=tweets_df2
# remove time zonne as excel cannot handle time zone
removed_tzone['Datetime'] = removed_tzone['Datetime'].dt.tz_localize(None)

removed_tzone

,Datetime,Tweet Id,Text,Username
0,2020-12-28 11:18:09,1343516584480915457,Baru jumpa line. Hahahahah,ajibkiddo
1,2020-12-25 07:28:37,1342371655469830144,"Alhamdulillah berkesempatan hari nie, rindu ka...",syaufeharriz
2,2020-12-22 07:14:52,1341281033057169409,"Selamat Hari Ibu, BU JEANNE ‚ô•Ô∏è @ Madame Tussau...",fabimanjoe
3,2020-12-22 04:37:23,1341241399975374848,sosuke yamazaki i am @ ur store https://t.co/z...,ERWYSMITH
4,2020-12-17 02:52:36,1339403090810834951,Baru saja mengirim foto @ Hard Rock Hotel Sing...,LiburWeekend
...,...,...,...,...
243,2020-01-02 08:40:10,1212654804620591105,"Muka lawan suhu 15¬∞. Sejuk biasa¬≤ ja nie, dulu...",momo_roro15
244,2020-01-01 15:57:09,1212402388524384256,Selamat tahun baru MMXX @ Universal Studio Sin...,izzulf_ismail
245,2020-01-01 07:41:57,1212277766382587904,Takpayah azam azam lah. Sebab tadi aku tanya d...,ZalAnnas
246,2020-01-01 03:07:13,1212208626837929984,Ayuhhhhh!! (@ Sentosa Station in Singapore) ht...,amazingsyathiri
247,2020-01-01 00:28:40,1212168727690498049,üìç Happy New year 2020 üéâ\n.\nHi 2019 Thankssss ...,ziafmihar

In [4]:
# for name, values in removed_tzone["Text"].iteritems():
#     print(values)
import demoji
# test_tweet = removed_tzone["Text"]
# test_tweet
n=0
for v in removed_tzone["Text"]:
    raw_tweet = str(v)
    tweet_removed_emoji = demoji.replace_with_desc(raw_tweet)
    removed_tzone.loc[n,"Text"] = tweet_removed_emoji
    n+=1

In [5]:
removed_tzone

,Datetime,Tweet Id,Text,Username
0,2020-12-28 11:18:09,1343516584480915457,Baru jumpa line. Hahahahah,ajibkiddo
1,2020-12-25 07:28:37,1342371655469830144,"Alhamdulillah berkesempatan hari nie, rindu ka...",syaufeharriz
2,2020-12-22 07:14:52,1341281033057169409,"Selamat Hari Ibu, BU JEANNE :heart suit: @ Mad...",fabimanjoe
3,2020-12-22 04:37:23,1341241399975374848,sosuke yamazaki i am @ ur store https://t.co/z...,ERWYSMITH
4,2020-12-17 02:52:36,1339403090810834951,Baru saja mengirim foto @ Hard Rock Hotel Sing...,LiburWeekend
...,...,...,...,...
243,2020-01-02 08:40:10,1212654804620591105,"Muka lawan suhu 15¬∞. Sejuk biasa¬≤ ja nie, dulu...",momo_roro15
244,2020-01-01 15:57:09,1212402388524384256,Selamat tahun baru MMXX @ Universal Studio Sin...,izzulf_ismail
245,2020-01-01 07:41:57,1212277766382587904,Takpayah azam azam lah. Sebab tadi aku tanya d...,ZalAnnas
246,2020-01-01 03:07:13,1212208626837929984,Ayuhhhhh!! (@ Sentosa Station in Singapore) ht...,amazingsyathiri
247,2020-01-01 00:28:40,1212168727690498049,:round pushpin: Happy New year 2020 :party pop...,ziafmihar

In [6]:
tweetid= removed_tzone['Tweet Id']

removed_tzone.to_excel('tweets wo emoji.xlsx', sheet_name='sheet1', index=False)
tweetid.to_csv('tweetsID wo emoji.csv', index=False)